extends layout

block content
  .content.column.is-10
    .title.is-2 Overview
    |       
    .nav.menu
      .container
        .nav-left#nav
          a.nav-item.is-tab.is-active(href="/")
            span.icon-btn
              i.fa.fa-bars
          |             
          a.nav-item.is-tab(href="/books/new")
            span.icon-btn
              i.fa.fa-plus
          |             
          a.nav-item.is-tab(href="/admin/login")
            span.icon-btn.thin
              i.fa.fa-lock
          |             
          a.nav-item.is-tab
            span.icon-btn
              i.fa.fa-trash
          |             
          .nav-item.is-tab
            strong 2 items selected
        |           
        .nav-right.is-hidden-mobile
          a.nav-item.is-tab Login
          |             
          a.nav-item.is-tab Logout
    .columns.files
      .column.is-2
        a.file
          .image.is-3by2
            img(src='https://images.unsplash.com/photo-1467321638755-7246fd0dc1f3?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1125&q=80')
          |             
          .name swimmin.jpeg
          |             
          .timestamp 2 hours ago
        |           
        a.file
          .image.is-3by2
            img(src='https://images.unsplash.com/photo-1467321638755-7246fd0dc1f3?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1125&q=80')
          |             
          .name swimmin.jpeg
          |             
          .timestamp 2 hours ago
        |           
        a.file
          .image.is-3by2
            img(src='https://source.unsplash.com/category/nature/640x480')
          |             
          .name daisydaisydaisyuntitled.jpeg
          |             
          .timestamp 2 hours ago
      |         
      .column.is-2
        a.file.active
          .image.is-3by2
            img(src='https://source.unsplash.com/category/buildings/640x480')
          |             
          .name untitled.jpeg
          |             
          .timestamp 2 minutes ago
        |           
        a.file
          .image.is-3by2
            img(src='https://source.unsplash.com/category/nature/640x480')
          |             
          .name daisydaisydaisyuntitled.jpeg
          |             
          .timestamp 2 hours ago
        |           
        a.file
          .image.is-3by2
            img(src='https://images.unsplash.com/photo-1467321638755-7246fd0dc1f3?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1125&q=80')
          |             
          .name swimmin.jpeg
          |             
          .timestamp 2 hours ago
      |         
      .column.is-2
        a.file.active
          .image.is-3by2
            img(src='https://source.unsplash.com/category/food/640x480')
          |             
          .name splashsplash.jpeg
          |             
          .timestamp 2 hours ago
        |           
        a.file
          .image.is-3by2
            img(src='https://source.unsplash.com/category/nature/640x480')
          |             
          .name untitled.jpeg
          |             
          .timestamp 2 hours ago
      |         
      .column.is-2
        a.file
          .image.is-3by2
            img(src='https://source.unsplash.com/category/objects/640x480')
          |             
          .name untitled.jpeg
          |             
          .timestamp 2 hours ago
        |           
        a.file
          .image.is-3by2
            img(src='https://images.unsplash.com/photo-1467321638755-7246fd0dc1f3?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1125&q=80')
          |             
          .name swimmin.jpeg
          |             
          .timestamp 2 hours ago
      |         
      .column.is-2
        a.file
          .image.is-3by2
            img(src='https://source.unsplash.com/category/people/640x480')
          |             
          .name untitled.jpeg
          |             
          .timestamp 2 hours ago
        |           
        a.file
          .image.is-3by2
            img(src='https://source.unsplash.com/category/objects/640x480')
          |             
          .name swimmin.jpeg
          |             
          .timestamp 2 hours ago
      |         
      .column.is-2
        a.file
          .image.is-3by2
            img(src='https://source.unsplash.com/category/nature/640x480')
          |             
          .name untitled.jpeg
          |             
          .timestamp 2 hours ago
        |           
        a.file
          .image.is-3by2
            img(src='https://source.unsplash.com/category/people/640x480')
          |             
          .name untitled.jpeg
          |             
          .timestamp 2 hours ago
  |   
