.new-picture{
  margin: 0 auto;
}
/*-----------MATERIALIZE------------*/
.regon{
	text-align: center;
}
.pddng{
	margin: 9px;
}
.tabs .indicator
{
	background-color: rgb(137, 226, 221);
    opacity: 0.3;
}
.tabs .tab a{
	border-bottom: 0px !important;
}
.ribs{
	position: relative;
    width: 408px;
    left: -31px;
    top: 10px;
}
input{
	color: black  !important;
	font-weight: 500  !important;
	font-size: large  !important;
}
textarea{
	color:white  !important;
	font-weight: 500  !important;
	font-size: large  !important;
}
.helloMsg{
    margin: 32px 0px;
}
.tabbg{
	background-color: rgba(0, 0, 0, 0) !important;
}
.boxColor ul {
  margin-left: 0px !important;
}
.loginCon{
	 height: 932px;
}
.input-field label:not(.label-icon).active {
    font-size: .8rem;
    -webkit-transform: translateY(-140%);
    transform: translateY(-167%) !important;
}
.req{
	color:#9e9e9e;
}
@media screen and (max-width: 767px){
	.row .col.s6 {
		width: 100%;
	}
}
.boxColor{
	background-color: rgba(0, 0, 0, 0.49);
}
.boxMar{
	margin-top: 70px;
}
.loginBody{
  width:100%;
}